.has-background-black {
    background-color: #1b3a42 !important;
}

.navbar.is-black {
    background-color: #2b3a42 !important;
}

.navbar.burger-is-dark {
    background-color: #454849;
}


.hero.is-dark {
    background-color: #2C2F33;
    color: #2C2F33;
}

.text.is-white {
    color: #ffffffbb;
}

.columns {
    margin-top: 5vh;
}

.column {
    background-color: #ffffffbb;
    text-align: center;
}