<footer class="footer has-background-black">
    <div class="content has-text-centered">
        <p>
            <strong class="text is-white">Mr. Worldwide</strong> by <a href="https://github.com/ThybeVB/">Thybe Van
                Beersel</a>.
        </p>
    </div>
</footer>