<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="images/Mr.WorldWide-Logo.png">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="menu">
        <div class="navbar-start">
            <a class="navbar-item text is-white" href="commands.html">
                <span>Commands</span>
            </a>
            <a class="navbar-item text is-white"
                href="https://discord.com/oauth2/authorize?scope=bot&client_id=443510227380207646">
                <span>Invite</span>
            </a>
            <a class="navbar-item text is-white" href="https://discord.gg/CrZ7FZ7">
                <span>Support Server</span>
            </a>
            <!-- <a class="navbar-item text is-white" href="status.html">
                <span>Status</span>
            </a> -->
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-info" href="https://discordbots.org/bot/443510227380207646/vote" target="_blank">
                    <span>Vote</span>
                </a>
            </div>
            <div class="navbar-item"></div>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function () {

        $(".navbar-burger").click(function () {

            $(".navbar-burger").toggleClass("is-active navbar burger-is-dark");
            $(".navbar-menu").toggleClass("is-active navbar burger-is-dark");

        });
    });
</script>